<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config" xsi:type="con:RestService" id="e5d8bd5a-d8eb-4541-bc6d-b4901a1faebb" wadlVersion="http://wadl.dev.java.net/2009/02" name="Ecommerce" type="rest">
  <con:settings id="390361b3-b7db-4eae-9d41-61276bdfd096">
    <con:setting id="8b4877da-9c17-4d74-baf9-2881747b6a79fileName">http%3A%2F%2Flocalhost%3A8084</con:setting>
    <con:setting id="e5d8bd5a-d8eb-4541-bc6d-b4901a1faebbfileName">Ecommerce</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://localhost:8084</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="834e9f34-445a-4d32-b042-ef79046664e3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="19b3aa32-a1f5-474e-bd47-6ecf34074e03">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="8adf9beb-0001-459f-b854-d8161046b013">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="85fcf76d-cc70-4a0b-a2f6-7b043cf8233a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="aaa8e0b8-c982-402f-aabc-53999ad72736">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="613bb63e-dfae-4525-8f53-7cc0745a1be1">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c7173b3a-fee4-45c8-906c-55deaef4eb0d">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
